# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/cmake-build-default-remote-host---laptopzerotier/
/cmake-build-default-remote-host/
/cmake-build-default-remote-host/CMakeFiles/CCode.dir
